#people ul li {
    position: relative;
}
#people ul li span {
    color: #FFFFFF;
    text-shadow: rgba(0,0,0,.7) 0 1px 2px;
}
#people ul li .delete {
    position: absolute;
    top: 5px;
    right: 6px;
    font-size: 12px;
    line-height: 30px;
    padding: 0 3px;
    border-width: 0 5px;
    -webkit-border-image: url(themes/jqt/img/button.png) 0 5 0 5;
}

#editExpense td {
	width: 33%;
	vertical-align: top;
}

#expense ul li {
    color: #aaa;
	font-weight: normal;
    text-shadow: rgba(0,0,0,.7) 0 1px 2px;
}

#expense ul li span {
    color: #FFFFFF;
	font-weight: normal;
    text-shadow: rgba(0,0,0,.7) 0 1px 2px;
}

ul li input[type="submit"] {
	color: #222222;
	border: 1px solid #999999;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEEEE), to(#9A9A9A));
    border: 0;
    font: normal 17px Helvetica;
	padding: 4px 4px;
    display: inline-block;
    margin-left: 0px;
    width: 90%;
    -webkit-appearance: textarea;
}

#expense .delete {
	color: #fff;
    text-shadow: rgba(0,0,0,.7) 0 -1px 0px;
	font-weight: bold;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ED1111), to(#9A1111));
	border: 1px solid #111111;
	-webkit-border-radius: 6px;
}

.gttoggle {
	width: 85%;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#363738), to(#414243));
	border: 1px solid #999999;
	color: #777;
	display: block;
    text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 4px;
	padding: 8px 4px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	-webkit-touch-callout: none;
}

.gttoggle.checked {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEEEE), to(#9A9A9A));
	border: 1px solid #B3B3B3;
	color: #222222;
}